apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: api-ingress
  namespace: kubernetes-brief
  annotations:
    kubernetes.io/ingress.class: nginx
    nginx.ingress.kubernetes.io/rewrite-target: /$2
spec:
  rules:
    - http:
        paths:
          - path: /kubernetes-brief(/|$)(.*)
            pathType: Prefix
            backend:
              service:
                name: api
                port:
                  number: 8000
